<div class="container text-center">
    <div class="row row cols-1 row-cols-sm-2 row-cols-md-4">
        <div>
            <button id="update-post" type="submit">Update Post</button>
            <button id="delete-post" type="submit">Delete Post</button>
        </div>
    </div>
</div>
