<div>
    <h3><a href="/blogs">New Post</a></h3>
</div>

{{!-- <h2>{{blog.title}}</h2>
    <p>{{blog.content}}</p>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
    <p>
        <button>Comment</button>
    </p> --}}