<div>
    <div class="container text-center">
        <h2>Your Dashboard</h2>
        <div class="col">
            <div class="title">
                <textarea name="title" id="post-title" cols="170" rows="1" placeholder="Title"></textarea>
            </div>
            <div class="content">
                <textarea name="content" id="post-content" cols="170" rows="5" placeholder="Content"></textarea>
            </div>
            <div class="create">
                <button class="create-post" id="create-post" type="submit">Create</button>
            </div>
            <div class="update">
                <button class="update-post" id="update-post" type="submit" name="{{blog.id}}">Update</button>
            </div>
            <div class="delete">
                <button class="delete-post" id="delete-post" type="submit" data-id="{{blog.id}}">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/profile.js"></script>
