<div>
    <div class="container text-center">
        <h2>Your Dashboard</h2>
        <form class="col dashboard-post">
            <div class="title">
                <input type="text" id="post-title" class="form-control" placeholder="Title"/>
                <label class="form-label"></label>
            </div>
            <div class="content">
                <input type="text" id="post-content" class="form-control" placeholder="Content"/>
                <label class="form-label"></label>
            </div>
            <div class="create">
                <button class="create-post" id="create-post" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/blog.js"></script>
