<div>
    <div class="container text-center">
        <h2>Blog Posts</h2>
        <div class="col">
            {{#each blogs as |blog|}}
            <div class="title">
                {{blog.title}}
            </div>
            <div class="content">
                {{blog.content}}
            </div>
            <div class="comment">
                <button class="comment-post" id="comment-post" type="submit" name="{{blog.id}}"><a href="/comments"></a>Comment</button>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="./js/profile.js"></script>
