<div>
    <div class="container text-center">
        <h2>Blog Posts</h2>
        <div class="col">
            <div class="title">
                {{blogs.title}}
            </div>
            <div class="content">
                {{blogs.content}}
            </div>
            {{!-- <div class="date">
                Created on {{format_date blogs.date_created}}
            </div> --}}
            <div class="comment">
                <button class="comment-post" id="comment-post" type="submit" name="{{blog.id}}"><a href="/comments"></a>Comment</button>
            </div>
        </div>
    </div>
</div>

<script src="./js/profile.js"></script>
