<div class="container text-center">
    <div class="row signup-div">
        <h2>Sign up</h2>
        <form class="form signup-form">
            <!-- Username input -->
            <div class="col form-outline mb-4">
                <input type="text" id="username-login" class="form-control" />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <!-- Password input -->
            <div class="col form-outline mb-4">
                <input type="password" id="password-login" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for extra space between -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

            <!-- Login Instead -->
            <div>
                <a href="/login">Login Instead</a>
            </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>
