.secret {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.title {
    border: 2px solid black;
    height: 5vh;
    background-color: #fff;
}

.content {
    border: 2px solid black;
    height: 15vh;
    background-color: #fff;
}

.create-post {
    border: 2px solid black;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
    background-color:lightgreen;
}

.update-post {
    border: 2px solid black;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
    margin: 1rem 0;
    background-color:lightskyblue;
}

.delete-post {
    border: 2px solid black;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color:lightcoral;
}

.comment-post {
    border: 2px solid black;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
    background-color:lightskyblue;
}

.spacing {
    margin: 1rem 0;
}

textarea {
    border: none;
}

body {
    background-color: beige;
}
